<div class="container" style="min-height: 700px;">
  <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @properties.each do |property| %>
          <div id="<%= dom_id property %>">
            <div class="card card-space">
              <div class="card-body">
                <div id="carouselExampleIndicators-<%= property.id %>" class="carousel slide p-1" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators-<%= property.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators-<%= property.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators-<%= property.id %>" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag(property.pictures[0], :class => "d-block w-100 img-post") %>
                    </div>
                    <% property.pictures.each do |picture| %>
                      <% if picture != property.pictures[0] %>
                        <div class="carousel-item">
                          <%= image_tag(picture, :class => "d-block w-100 img-post") %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= property.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon icon-bg-color" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= property.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon icon-bg-color" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="container p-1">
                  <div class="div-post">
                    <span><%= property.name %></span>
                    <span><strong>Alameda Fernão Cardim, 161</strong></span>
                    <span><small>2 bedrooms • 1 bath</small></span>
                  </div>
                </div>
                <div class="container p-1 mt-1 post-price">
                  <div class="price-box">
                    R$ 5,490
                  </div>
                </div>
                <div class="container p-1 mt-1">
                  <i class="fa-sharp fa-solid fa-circle-info"></i>
                  <small>
                    <%= link_to "More info", property, style: 'color: black;' %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
