<!DOCTYPE html>
<html>
  <head>
    <title>RentProperties</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="px-3 py-2 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a>
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                  <%= link_to "Home", home_path, class: "nav-link text-white" %>
                </a>
              </li>
              <li>
                <a>
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                  <%= link_to "New Property", new_property_path, class: "nav-link text-white" %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-3 py-2 border-bottom mb-3" style="background-color: #fff;">
        <div class="container d-flex flex-wrap justify-content-center">
          <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <a>
                  <i class="fas fa-search"></i>
                </a>
              </span>
            </div>
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-light text-dark me-2">Login</button>
            <button type="button" class="btn btn-secondary">Sign-up</button>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
    </div>

    <!-- Copyright -->
    <div class="text-center p-3">
      <i class="fa-sharp fa-solid fa-copyright"></i>
      2022 Copyright: test
      <a class="text-white" target="_blank" href="https://github.com/JPedroValarini">João Pedro</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>
